* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
}
body {
  background-color: #f2e9e9;
  padding: 50px;
}
body .container {
  display: flex;
  width: 100%;
  justify-content: center;
}
body .container .box {
  width: 100%;
  columns: 5;
  column-gap: 15px;
  margin: auto;
}
@media screen and (max-width: 1200px) {
  body .container .box {
    columns: 3;
  }
}
@media screen and (max-width: 850px) {
  body .container .box {
    columns: 2;
  }
}
@media screen and (max-width: 550px) {
  body .container .box {
    columns: 1;
  }
}
body .container .box img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.3s;
}
body .container .box img:hover {
  scale: 0.97;
}
body #modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 99;
  background-color: #000000ce;
  display: none;
}
body #modal i {
  position: fixed;
  top: 25px;
  right: 25px;
  font-size: 50px;
  color: #e56666;
  cursor: pointer;
}
body #modal img {
  max-height: 90%;
  max-width: calc(100% - 100px);
}
@media screen and (max-width: 550px) {
  body #modal img {
    max-width: calc(100% - 40px);
  }
}
body #modal.active {
  display: flex;
}
